// 节点列表

@tableColor: #A1FC3A;
.customTableWarp {
    >form {
        float: left;
        margin-bottom: 20px;
        width:100%;
        .searchkey {
            float: left;
            width: 95%;
            height: 38px;
            border-radius: 4px;
            border: 1px solid rgba(68, 72, 81, 1);
            background-color: transparent;
            color: #fff;
            padding: 0 10px;
        }
        .nodelist-search {
            float: right;
            width: 38px;
            height: 38px;
            border-radius: 4px;
            border: 1px solid rgba(161, 252, 58, 1);
            margin-left: 8px;
            background: rgba(39, 65, 8, 1) url('../img/icon/button_icon/search.png') no-repeat center;
            i {
                color: #fff;
            }
        }
    }
}

.nodelist{
    table{
        tbody tr td:nth-child(1) a{
            color:@tableColor
        }
    }
}


/******************  通用无表头样式  ************************/
.no-th-table {
    border:1px solid rgba(68,72,81,1);
    font-size: 12px;
    line-height: 17px;
    width: 100%;
    tbody tr td {
        border:1px solid rgba(68,72,81,1);
        padding: 3px 6px 4px 6px;
    }
    tbody tr td:nth-child(2n){
        color: #FEFEFE;
        background:rgba(37,38,46,1);
        
    }
    tbody tr,
    tbody tr td:nth-child(2n+1){
        background:rgba(41,42,50,1);
        color:rgba(161,166,173,1);
    }
}


.customTable{
    td.hostIp{
        color: @tableColor;
    }
    td.hostStatus{
        span{
            vertical-align: middle;
            margin-right:5px;
        }
        span.normal{
            display: inline-block;
            width:12px;
            height:12px;
            background:rgba(161,252,58,0.2);
            border:1px solid @tableColor;
            border-radius: 6px;
        }
        span.error{
            display: inline-block;
            width:12px;
            height:12px;
            background:rgba(255,0,117,0.2);
            border:1px solid rgba(255,0,117,1);
            border-radius: 6px;
        }
    }
    td.activity-groupName{
        img{
            width:22px;
            height:22px;
            margin-right:4px;
            vertical-align: middle;
        }
    }
}
.ant-calendar{
    color: rgba(161,166,173,1);
    background-color: #2E323C;
    border:1px solid rgba(68,72,81,1);
    
}

.ant-calendar-input{
    color: rgba(161,166,173,1);
    background-color: #2E323C;
}
.ant-calendar-input-wrap,.ant-calendar-header{
    border-bottom:1px solid rgba(68,72,81,1);
}
.ant-calendar-footer{
    border-top:1px solid rgba(68,72,81,1);
}
.ant-calendar-date,.ant-calendar-header .ant-calendar-prev-century-btn, .ant-calendar-header .ant-calendar-next-century-btn, .ant-calendar-header .ant-calendar-prev-decade-btn, .ant-calendar-header .ant-calendar-next-decade-btn, .ant-calendar-header .ant-calendar-prev-month-btn, .ant-calendar-header .ant-calendar-next-month-btn, .ant-calendar-header .ant-calendar-prev-year-btn, .ant-calendar-header .ant-calendar-next-year-btn,.ant-calendar-header .ant-calendar-century-select, .ant-calendar-header .ant-calendar-decade-select, .ant-calendar-header .ant-calendar-year-select, .ant-calendar-header .ant-calendar-month-select{
    color: rgba(161,166,173,1);
}
.ant-calendar-today .ant-calendar-date{
    background:transparent;
    color:rgba(161,252,58,1);
    border:none;
}
.ant-calendar-time .ant-calendar-footer .ant-calendar-today-btn,.ant-calendar-time .ant-calendar-footer .ant-calendar-time-picker-btn{
    color: #A1FC3A;
}
.ant-calendar .ant-calendar-ok-btn-disabled{
    color: rgba(161,166,173,1);
    border: 1px solid #2E323C;
    background-color: rgba(68,72,81,1);
}
.ant-calendar-selected-date .ant-calendar-date, .ant-calendar-selected-start-date .ant-calendar-date, .ant-calendar-selected-end-date .ant-calendar-date{
    color: #2E323C;
    background: #A1FC3A;
}
.ant-calendar .ant-calendar-ok-btn{
    background: #2E323C;
    color: rgba(161,166,173,1);
    // background: #A1FC3A;
    border-color: #A1FC3A;
}
.ant-calendar-header a:hover{
    color: rgba(61,105,12,1);
}
.ant-calendar-date:hover{
    border:1px solid rgba(161,252,58,1);
    background: rgba(61,105,12,1);;
}
.ant-calendar-selected-date .ant-calendar-date:hover, .ant-calendar-selected-start-date .ant-calendar-date:hover, .ant-calendar-selected-end-date .ant-calendar-date:hover{
    background: rgba(61,105,12,1);
    color: rgba(161,166,173,1);
    border:1px solid rgba(161,252,58,1);
}
.ant-calendar-selected-date .ant-calendar-date :hover{
    background: rgba(61,105,12,1);
    border:1px solid rgba(161,252,58,1);
}
.ant-calendar-disabled-cell .ant-calendar-date{
    background: rgba(161,166,173,1);
}
.ant-calendar .ant-calendar-ok-btn:hover, .ant-calendar .ant-calendar-ok-btn:focus{
    background: rgba(61,105,12,1);
    border:1px solid rgba(161,252,58,1);
}
.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled){
    border:1px solid rgba(161,252,58,1);
}
.ant-calendar-time .ant-calendar-day-select{
    color: rgba(161,166,173,1);
}
.ant-calendar-time-picker-select{
    color: rgba(161,166,173,1);
    background-color: #2E323C;
    border-right: 1px solid rgba(68,72,81,1);
}
li.ant-calendar-time-picker-select-option-selected{
    background: #274108;
    border:none;
}
.ant-calendar-time-picker-select li:hover{
    background:rgba(61,105,12,1);
}
.ant-calendar-month-panel,.ant-calendar-year-panel{
    color: rgba(161,166,173,1);
    background-color: #2E323C;
    border:none;
}
.ant-calendar-month-panel-header,.ant-calendar-year-panel-header{
    border-bottom: 1px solid #444851;
}
.ant-calendar-month-panel-selected-cell .ant-calendar-month-panel-month{
    background:rgba(39,65,8,1);
    border:1px solid rgba(161,252,58,1);
    color: rgba(161,166,173,1);
}
.ant-calendar-selected-day .ant-calendar-date{
    color: #2E323C;
    background: #A1FC3A;
}
.ant-calendar-month-panel-month{
    color: rgba(161,166,173,1);
}
a.ant-calendar-month-panel-month:hover{
    background:rgba(61,105,12,1);
    border:1px solid rgba(161,252,58,1);
    color: rgba(161,166,173,1);
}
.ant-calendar-month-panel-selected-cell .ant-calendar-month-panel-month:hover{
    background:rgba(61,105,12,1);
}   
.ant-calendar-year-panel-year{
    color: rgba(161,166,173,1);
}
.ant-calendar-year-panel-selected-cell .ant-calendar-year-panel-year{
    background:rgba(39,65,8,1);
    border:1px solid rgba(161,252,58,1);
    color: rgba(161,166,173,1);
}
a.ant-calendar-year-panel-year:hover{
    background:rgba(61,105,12,1);
    border:1px solid rgba(161,252,58,1);
    color: rgba(161,166,173,1);
}
.ant-calendar-year-panel-selected-cell .ant-calendar-year-panel-year:hover{
    background:rgba(61,105,12,1);
}  
.datePicker{
    .left-pick{
        float: left;
    }
    .right-pick{
        float: right;
        >span{
            font-size:15px;
            font-weight:400;
            color:rgba(161,166,173,1);
            line-height:22px;
            display: inline-block;
            margin:0 8px;
        }
    }
    
    .ant-calendar-picker-clear{
        background: rgba(46,50,60,1);
    }
    .ant-calendar-picker-icon{
        background: rgba(46,50,60,1) url("../img/angle-down-solid.svg") no-repeat center;
        svg{
            display: none;
        }
    }
    .ant-calendar-picker-input{
        height:38px;
        background:rgba(46,50,60,1);
        border-radius:4px;
        border:1px solid rgba(68,72,81,1);
        color: #DAE1E9;
    }
}
.ant-calendar-picker-container{
    top:336px !important;
}
.ant-calendar-input-wrap{
    display: none;
}
.ant-calendar-time .ant-calendar-footer .ant-calendar-today-btn, .ant-calendar-time .ant-calendar-footer .ant-calendar-time-picker-btn{
    display: none;
}
.select-group{
    width:168px;
    height:38px;
    border-radius:4px;
    border:1px solid rgba(68,72,81,1);
    position: relative;
    background: rgba(46,50,60,1) url("../img/angle-down-solid.svg") no-repeat 145px center;
    background-size: 6%;
    h5{
        font-size:15px;
        font-weight:400;
        color:rgba(218,225,233,1);
        line-height:38px;
        height:38px;
        padding-left:16px;
        cursor: pointer;
    }
    .selevt-list{
        position: absolute;
        z-index: 9;
        background:rgba(46,50,60,1);
        border-radius:4px;
        width:100%;
        border:1px solid rgba(68,72,81,1);
        border-top:none;
        top:40px;
        p{
            font-size:15px;
            font-weight:400;
            color:rgba(218,225,233,1);
            line-height:36px;
            height:36px;
            padding-left:16px;
            cursor: pointer;
            border:1px solid rgba(46,50,60,1);
        }
        p:hover{
            background:rgba(161,252,58,0.16);
            border:1px solid rgba(161,252,58,1);
            color:rgba(161,252,58,1);
        }
    }
    
}

